<%- include ("templates/cabecera",{ titulo:"Contáctanos"})%> 



    <!-- contenido de pagina-->
    <div class="container-fluid">
        <h1 class="mt-4"><%= titulo%></h1>
        <img src="imagen.jpg" class="img-fluid img-thumbnail rounded float-right" width="25%" height="65%">
        <p><strong><i class="fas fa-user"></i> Nombre:</strong> Miguel Yovany Chan Balam<br><strong><i class="fas fa-phone-square-alt"></i> Teléfono:</strong> 997-124-8328<br><strong><i class="fas fa-envelope"></i> Email:</strong> yovanychan090893@gmail.com o miguel.chan@uimqroo.edu.mx<br><strong><i class="fas fa-bell"></i> Redes sociales:</strong> Facebook, Twitter, LinkedIn<br><strong><i class="fab fa-whatsapp-square"></i> WhatsApp</strong> 997-124-8328</p>
    <p> Contáctanos a través de nuestro correo digital 
        <code>yovanychan090893@gmail.com</code> o en correo institucional universitario <code>miguel.chan@uimqroo.edu.mx</code>, así mismo, se cuenta con las redes sociales Facebook <a href="https://web.facebook.com/yovany.chan.543" target="_BLANK" class="text-decoration-none">Yovany Chan</a>, LinkedIn <a href="https://www.linkedin.com/in/yovany-chan-868ba1206/" target="_BLANK" class="text-decoration-none">Yovany Chan</a>, Twitter <a href="https://twitter.com/YovanyChan" target="_BLANK" class="text-decoration-none">Yovany Chan</a>
        
    </p>



<%- include ("templates/footer")%> 