<%- include ("templates/cabecera",{ titulo:"Datos personales"})%> 



  <!-- contenido de pagina-->
  <div class="container-fluid">
    <h1 class="mt-4"><%= titulo%></h1>
      <img src="imagen.jpg" class="img-fluid img-thumbnail rounded float-right" width="25%" height="65%">
      <p><strong> <i class="fas fa-user"></i> Nombre:</strong> Miguel Yovany Chan Balam<br><strong><i class="fas fa-map-marker-alt"></i> Lugar y fecha de nacimiento:</strong> 09 de agosto de 1993, Felipe Carrillo Puerto, Quintana Roo<br><strong> <i class="fas fa-location-arrow"></i>Dirección:</strong> Calle 83 por 56 y 50, Col. Leona Vicario<br><strong><i class="fas fa-briefcase"></i> Ocupación:</strong> Estudiante de licenciatura en Ingeniería en Tecnologías de la información y Comunicación<br><strong><i class="fas fa-map-marker-alt"></i> Lugar de estudio:</strong> José María Morelos, Quintana Roo<br><strong><i class="fas fa-school"></i> Casa de estudios:</strong> Universidad Intercultural Maya de Quintana Roo (UIMQRoo)<br><strong><i class="fas fa-file-alt"></i> Curp:</strong> CABM930809HQRLHG04<br><strong><i class="fas fa-file-alt"></i> RFC:</strong> CABM930809-IT4</p>
    
    

<%- include ("templates/footer")%> 