<%- include ("templates/cabecera",{ titulo:"Equipos que se dominan"})%> 

<!-- contenido de pagina-->
<div class="container-fluid">
    <h1 class="mt-4"><%= titulo%></h1>
    <img src="imagen.jpg" class="img-fluid img-thumbnail rounded float-right" width="25%" height="65%">
    <p>Equipo de cómputo portátil y de escritorio con sistemas operativos Microsoft Windows y MAC OS, Tabletas, Teléfono Móvil, impresoras, copiadoras, otros productos y aparatos para la recogida, almacenamiento, procesamiento, presentación o comunicación de información de manera electrónica.</p>
    



<%- include ("templates/footer")%> 