<%- include ("templates/cabecera",{ titulo:"Experiencia laboral"})%> 

<!-- contenido de pagina-->
<div class="container-fluid">
    <h1 class="mt-4"><%= titulo%></h1>
    <img src="imagen.jpg" class="img-fluid img-thumbnail rounded float-right" width="25%" height="65%">
    <p class="text-justify">En ámbito laboral, cuento documentos que validan mi experiencia en diferentes áreas de trabajo, con amplia cooperatividad entre compañeros, facilidad de expresión de palabra, conocimientos en ITIL para la administración de las TIC</p><br>
    <p>2013-2018 Contrato en el Dpto. de administración y servicios de TI en la dirección General de Seguridad Pública, Transito y Bomberos Municipal<br><br>2018-2020	Contrato en el Dpto. de Contabilidad de la multinacional ASELA, S.A., realizando tareas administrativas y contables.</p>
    

<%- include ("templates/footer")%> 