<%- include ("templates/cabecera",{ titulo:"Idiomas que se dominan"})%> 

<!-- contenido de pagina-->
<div class="container-fluid">
    <h1 class="mt-4"><%= titulo%></h1>
    <img src="imagen.jpg" class="img-fluid img-thumbnail rounded float-right" width="25%" height="65%">
    <p><strong>INGLÉS Nivel medio</strong> Universidad Intercultural Maya de Quintana Roo<br><strong>FRANCÉS Nivel medio</strong> Universidad Intercultural Maya de Quintana Roo</p>
    <h2>Lengua</h2>
    <p><strong>MAYA nivel Alto</strong> Universidad Intercultural Maya de Quintana Roo</p>

<%- include ("templates/footer")%> 