
<%- include ("templates/cabecera",{ titulo:"Página de inicio"})%>


        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-4"><%= titulo%></h1>
            <img src="imagen.jpg" class="img-fluid img-thumbnail rounded float-right" width="25%" height="65%">
            <p>En este curriculum, los datos que se describen cuentan con información clara y precisa de la persona de nombre Miguel Yovany Chan Balam, por lo que, toda aquella información es confiable, ya que, se enlistan datos como el nombre, lugar de estudios, dirección donde vive, experiencias laborales, redes sociales, información delicada, como son, la fecha de nacimiento, lugar de nacimiento, dirección del domicilio.</p>
     


<%- include ("templates/footer")%> 

