<%- include ("templates/cabecera",{ titulo:"Niveles de estudio"})%> 

<!-- contenido de pagina-->
<div class="container-fluid">
    <h1 class="mt-4"><%= titulo%></h1>
    <img src="imagen.jpg" class="img-fluid img-thumbnail rounded float-right" width="25%" height="65%">
      <p><strong><i class="fas fa-school"></i> Primaria:</strong> Escuela Don Felipe Carrillo Puerto<br><strong><i class="fas fa-school"></i> Secundaria:</strong> Secundaria general Leona Vicario<br><strong> <i class="fas fa-school"></i> Preparatoria:</strong> Centro Bachillerato Tecnológico Industrial y de Servicios N.72<br><strong><i class="fas fa-school"></i> Licenciatura:</strong> Universidad Intercultral Maya de Quintna Roo (UIMQRoo)</p>

<%- include ("templates/footer")%> 