  
  </div>
</div>

</div>
<div class="card bg-dark">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div><a href="https://web.facebook.com/yovany.chan.543" target="_BLANK"><i class="fab fa-facebook"></i></a> <a href="https://twitter.com/YovanyChan" target="_BLANK"><i class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/in/yovany-chan-868ba1206/" target="_BLANK"><i class="fab fa-linkedin"></i></a></div></p>
        <p class="text-center text-white fw-light">Copyright@YovanyChan</p>
        <footer class="blockquote-footer">
         <p class="text-center text-white font-weight-bold">Gracias por visitar mi página de curriculum Vitae 
        </footer>
      </blockquote>
    </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>