
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-dark text-white">Barra de información</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/datosPersonales"><i class="fas fa-id-card"></i> Datos personales</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/niveleEstudio"><i class="fas fa-graduation-cap"></i> Niveles de estudio</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/ExperienciaLaboral"><i class="fas fa-briefcase"></i> Experiencia laboral</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/idiomaDomina"><i class="fas fa-user-friends"></i> Idioma que se dominan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/equipoDomina"><i class="fas fa-laptop-code"></i> Equipos que se dominan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/contactanos"><i class="fas fa-envelope"></i> Contáctanos</a>
            </div>
        </div>
    
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-md navbar-light border-bottom" style="background-color:lightgray;">
            <div class="container-fluid">
                <button class="btn btn-secondary" id="sidebarToggle"><i class="fas fa-ellipsis-v"></i></button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <div><a href="https://web.facebook.com/yovany.chan.543" target="_BLANK"><i class="fab fa-facebook"></i></a> <a href="https://twitter.com/YovanyChan" target="_BLANK"><i class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/in/yovany-chan-868ba1206/" target="_BLANK"><i class="fab fa-linkedin"></i></a></div>
                        <li class="nav-item active"><a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio</a></li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Búscar" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Búscar</button>
                      </form>
                </div>
            </div>
        </nav>
    
